{% extends 'base.html.twig' %}

{% block title %}BACK OFFICE{% endblock %}

{% block body %}
<div class="container">
    <a href="{{path('admin_article')}}" class="btn btn-info col-12 my-4">Gestion des articles</a>
    <a href="" class="btn btn-info col-12 my-4">Gestion des categories</a>
    <a href="" class="btn btn-info col-12 my-4">Gestion des commentaires</a>
    <a href="" class="btn btn-info col-12 my-4">Gestion des Utilisateurs</a>


</div>
{% endblock %}
